.userinfo {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #583284;
  border-radius: 5px;
  .abc {
  }
  .user {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .user img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  .icons {
    display: flex;
    gap: 20px;
  }
  .icons img {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 10px;
  }
}
.user-flex {
  display: flex;
}
