.detail {
  flex: 1;
  background-color: rgba(17, 25, 40, 0.944);
  border: 1px solid #dddddd35;
  border-radius: 5px;

  .abc {
  }
  .user {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    border-bottom: 1px solid #dddddd35;
    .abc {
    }
    img {
      width: 100px;
      height: 100px;
      object-fit: cover;
      border-radius: 50%;
    }
  }
  .info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .abc {
    }
    .option {
      .abc {
      }
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .abc {
        }
        img {
          height: 30px;
          width: 30px;
          background-color: rgba(17, 25, 40, 0.3);
          padding: 10px;
          border-radius: 50%;
          cursor: pointer;
        }
      }
      .photos {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 18px;
        .abc {
        }
        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .abc {
          }
          .photoDetail {
            display: flex;
            align-items: center;
            gap: 20px;
            .abc {
            }
            img {
              width: 40px;
              height: 40px;
              border-radius: 5px;
              object-fit: cover;
            }

            span {
              font-size: 14px;
              color: lightgray;
              font-weight: 300;
            }
          }

          .icon {
            width: 30px;
            height: 30px;
            background-color: rgba(17, 25, 40, 0.3);
            padding: 10px;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
    button {
      padding: 15px;
      background-color: rgba(220, 20, 60, 0.321);
      color: white;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
      .abc {
      }
      &:hover {
        background-color: rgba(220, 20, 60, 0.956);
      }

      &.logout {
        padding: 10px;
        background-color: #1a73e8;
      }
    }
  }
}
