.login-1 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .abc {
  }
  .main {
    width: 400px;
    height: 600px;
    background: red;
    overflow: hidden;
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    backdrop-filter: blur(25px);
  }
  #chk {
    display: none;
  }
  label {
    color: white;
    font-size: 2.5rem;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease-in-out;
  }
  input {
    width: 60%;
    height: 45px;
    font-size: 17px;
    background: white;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: "Josefin Sans", sans-serif;
  }
  button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    display: block;
    justify-content: center;
    color: white;
    background: #583284;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
  }
  button:hover {
    background: #583284;
  }
  .login {
    height: 600px;
    background: #eee;
    /* border-radius: 60% / 10%; */
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    transform: translateY(-35px);
    transition: 0.8s ease-in-out;
  }
  .login label {
    color: #583284;
    transform: scale(0.6);
  }
  #chk:checked ~ .login {
    transform: translateY(-470px);
  }
  #chk:checked ~ .login label {
    transform: scale(1.3);
    padding-top: 50px;
  }
  #chk:checked ~ .signup label {
    transform: scale(0.6);
  }
}

.fileupload img {
  width: 70px;
  height: 70px;
  border: 1px solid #583284;
  padding: 5px;
  border-radius: 5px;
}
.fileupload label span {
  font-size: 14px;
  margin-top: 30px;
  margin-left: 10px;
}

.fileupload label {
  margin: 0;
}
.loginimg {
  display: flex;
  justify-content: center;
}
.loginimg img {
  width: 200px;
  height: 130px;
}
